{% extends "layout.html" %}
{% block body %}

<div class="py-5 mb-3 container-md" x-data="{}">
  <div class="text-center mb-4">
    <div class="h1 fancy-font">
      SAN FRANCISCO <span class="text-main">CAFES</span>
    </div>
    <i>made with <a class="text-main" href="https://github.com/czhu12/forever-free-cloud-app-starter">forever free cloud app starter</a> and <a href="https://github.com/marceloprates/prettymaps" class="text-main">pretty maps</a></i>
  </div>
  {% for cafe in data['cafes'] %}
    <div class="row my-3 bg-{{cafe['theme']}}">
      <div class="col-12 pt-3 col-sm-4 col-md-6 ps-0 d-flex flex-column order-{{ loop.index % 2 }} {% if loop.index % 2 == 1 %} ms-auto {% endif %}">
        <div class="ps-3">
          <div class="h1 {% if loop.index % 2 == 0 %} text-main {% endif %} fancy-font">{{ cafe['title'] }}</div>
          <div>{{cafe['description']}}</div>
          <div>
            {% for tag in cafe['tags'] %}
              <div class="badge" style="background-color: #FF9292">{{tag}}</div>
            {% endfor %}
          </div>
        </div>

        <div class="card mt-auto" style="border: none;border-radius: 0px;min-height:150px;">
          <div class="card-body">
            <div class="fancy-font h6">Explore YankiniQ</div>
            <div class="mb-1">
              <span class="ps-0 badge text-main"><i class="fas fa-map-marker-alt"></i> {{cafe['location']}}</span>
            </div>
            <a href="{{ cafe['map'] }}" target="_blank" class="btn btn-main btn-block" style="border-radius: 0px;
    padding: 10px 20px 10px 20px;"><i class="far fa-map"></i> Map</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4  py-3 col-sm-7 col-md-6 text-center col-12 {% if loop.index % 2 == 0 %} ms-auto {% endif %}">
        <img src="{{ cafe['image'] }}" height="350" />
      </div>
    </div>
  {% endfor %} 
{% endblock %}
